body{min-width:1300px;}
main{padding:30px;}
#shopping{font-size:30px;margin-bottom:10px;width:1300px;margin-left:auto;margin-right:auto;}
.outer{
    background-color:#F5F5F5;border:solid;border-width:1px;border-color:gray;padding:20px;
    width:1250px;margin-left:auto;margin-right:auto;min-height:600px;position:relative;
}
.outer section{
    background-color: #FFFFE0;border:solid;border-width:1px;border-color:#EEDD82;
    overflow:auto;padding:20px;height:220px;
}
img{float:left;width:150px;}
.wrap{float:left;padding-left:20px;}
.title{font-size:25px;font-family:Comic Sans MS,cursive;}
.author{font-size:20px;font-style:italic;font-family:Comic Sans MS,cursive;}
.description{width:900px;font-weight: normal;fong-size:15px;}
.price{float:left;background-color:#00BFFF;padding:5px 20px;margin-top:10px;}
.wrap button{
    background-color:#FA8072;border:none;padding:5px 20px;margin-top:10px;
    font-size:16px;margin-left:100px;
}
#cash{padding-top:20px;position:absolute;right:0;bottom:20px;}
#cash button{
    background-color:#66CDAA;padding:5px 20px;border:none;
    font-size:16px;margin-right:50px;
}
#empty{font-size:30px;text-align: center;clear:both;margin-top: 100px;height:400px;}